<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Change this value on PROD-->
    <add key="EnvironmentName" value="LOCAL"/>
    
    <!-- in seconds -->
    <add key="EmailSendingInterval" value="15"/>
    <add key="AttachmentsCleanupInterval" value="60"/>
    <add key="MaxEmailsPerUserPerBatch" value="50"/>
    
    <add key="AmazonS3.AccessKey" value="AKIAI2LNN6ERD27YVUDA"/>
    <add key="AmazonS3.SecretKey" value="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"/>
    <add key="AmazonS3.ServiceUrl" value="https://s3-us-west-2.amazonaws.com"/>
    <add key="AmazonS3.BucketName" value="xomouserfiles"/>
    
    <!-- If no value, then limitation will be not applied, otherwise use integer value > 0-->
    <add key="MaxCcCount" value=""/>
    <add key="MaxBccCount" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="MySqlConnection" connectionString="server=dxdya1-cluster.cluster-cl0mpr0rdb8o.us-west-2.rds.amazonaws.com;port=3306;user id = Ihor;password = IH1599;database = testserveremail;allowuservariables = True;Convert Zero Datetime=True;Keepalive = 0;ConnectionTimeout = 15;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>